table{
    border-collapse: collapse;
}

td.ano{
    text-align: center;
}

td.valores{
    text-align: right; width: 150px;
}

td.cem{
    text-align: center;
}

td.duzentos{
    text-align: center;
}

td.trezentos{
    text-align: center;
}